{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Registration{% endblock %}</title>
  {% include 'base-header.html' %}
  
  <link type="text/css" rel="stylesheet" href="{% static 'account/css/account.css' %}">
  
</head>
    
<body class="bg-grey">
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home:index' %}">Logo</a>
      </div>
    </div>
  </nav>
  
  
  {% block content %}
  {% endblock %}
  
</body>