{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
邮箱验证
{% else %}
Email Verification
{% endif %}
{% endblock %}



{% block content %}


<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    
    {% if request.session.lang == 'cn' %}
    <strong>{{user.username}} 你好</strong>
    <p>这是一封系统基于您的请求自动发出的邮件，请在24小时之内点击下面的连接进行邮箱的验证。如果这不是您的请求，请忽略这封邮件。</p>
    

    
    {% else %}
    <strong>Hi {{user.username}}</strong>
    <p>This email was sent automatically in response to your request to verify your email address. Please reset your password via following link within 24 hours. If this was not requested by your, please ignore this email.</p>

    {% endif%}
    <p><a href="{{link}}">{{link}}</a></p>
  </div>
</div>

  
{% endblock %}