{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
忘记用户名
{% else %}
Forget Username
{% endif %}
{% endblock %}



{% block content %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    
    {% if request.session.lang == 'cn' %}
    <div>
    <h2 class="text-center">忘记用户名</h2>
    <h4>您可以通过下面方式找回用户名</h4>
    <ul>
      <li><a href="{% url 'account:get-username' %}">发送用户名到注册邮箱</a></li>
      <li><a>联系客服</a></li>
    </ul>
    <p>忘记密码 <a href="{% url 'account:forget-password' %}">请点击这里</a></p>
    <p><a href="{% url 'home:index' %}">返回首页</a></p>
    </div>
    {% else %}
        <div>
    <h2 class="text-center">Forget Username</h2>
    <h4>You can find your username by</h4>
    <ul>
      <li><a href="{% url 'account:get-username' %}">Get username sent to your email</a></li>
      <li><a>Contact our customer service</a></li>
    </ul>
    <p>Forget password <a href="{% url 'account:forget-password' %}">Click here</a></p>
    <p><a href="{% url 'home:index' %}">Return to Home Page</a></p>
    </div>

    {% endif%}
    
  </div>
</div>

  
{% endblock %}