{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
找回用户名
{% else %}
Find your username
{% endif %}
{% endblock %}



{% block content %}


<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    
    {% if request.session.lang == 'cn' %}
    <strong>{{username}} 你好</strong>
    <p>这是一封系统基于您的请求自动发出的邮件，您的用户名是:{{username}}</p>
    <p>如果这不是您的请求，请忽略这封邮件。</p>
    

    
    {% else %}
    <strong>Hi {{username}}</strong>
    <p>This email was sent automatically in response to your request to get your username. Your username is: {{username}}</p> 
    <p>If this was not requested by your, please ignore this email.</p>
    
    

    {% endif%}
  </div>
</div>

  
{% endblock %}