{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
用户注册
{% else %}
Registration
{% endif %}
{% endblock %}



{% block content %}
{% load tool_tags %}

{% if request.session.lang == 'cn' %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    <div>
    <h2 class="text-center">用户注册</h2>
    </div>
    <form class="form-horizontal" action="." method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.username.errors }}
        <div>{{ form.username|add_attributes:'form-control, placeholder:用户名*' }}</div>
      </div>
      <div class="form-group">
        {{ form.password.errors }}
        <div>{{ form.password|add_attributes:'form-control, placeholder:密码*' }}</div>
      </div>
      <div class="form-group">
        {{ form.password2.errors }}
        <div>{{ form.password2|add_attributes:'form-control, placeholder:确认密码*'  }}</div>
      </div>
      <div class="form-group">
        {{ form.last_name.errors }}
        <div>{{ form.last_name|add_attributes:'form-control, placeholder:姓'  }}</div>
      </div>
      <div class="form-group">
        {{ form.first_name.errors }}
        <div>{{ form.first_name|add_attributes:'form-control, placeholder:名'  }}</div>
      </div>
      <div class="form-group">
        {{ form.email.errors }}
        <div>{{ form.email|add_attributes:'form-control, placeholder:电子邮箱*'  }}</div>
      </div>
      <div class="form-group">
        {{ form.telephone.errors }}
        <div>{{ form.telephone|add_attributes:'form-control, placeholder:电话'  }}</div>
      </div>
      <div class="form-group">
        {{ form.company.errors }}
        <div>{{ form.company|add_attributes:'form-control, placeholder:公司名*'  }}</div>
      </div>
      <div class="form-group">
        {{ form.address.errors }}
        <div>{{ form.address|add_attributes:'form-control, placeholder:街道地址'  }}</div>
      </div>
      <div class="form-group">
        {{ form.city.errors }}
        <div>{{ form.city|add_attributes:'form-control, placeholder:城市'  }}</div>
      </div>
      <div class="form-group">
        {{ form.postal.errors }}
        <div>{{ form.postal|add_attributes:'form-control, placeholder:邮编'  }}</div>
      </div>
      <div class="form-group">
        {{ form.state.errors }}
        <div>{{ form.state|add_attributes:'form-control, placeholder:省份'  }}</div>
      </div>
      <div class="form-group">
        {{ form.country.errors }}
        <div>{{ form.country|add_attributes:'form-control, placeholder:国家'  }}</div>
      </div>
      <div class="form-group text-right">
        <div>
          <button type="submit" class="btn btn-primary">确认</button>
          <a class="btn btn-default" href="{% url 'home:index' %}">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    <div>
    <h2 class="text-center">User Registration</h2>
    </div>
    <form class="form-horizontal" action="." method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group">
        {{ form.username.errors }}
        <div>{{ form.username|add_attributes:'form-control, placeholder:Username*' }}</div>
      </div>
      <div class="form-group">
        {{ form.password.errors }}
        <div>{{ form.password|add_attributes:'form-control, placeholder:Password*' }}</div>
      </div>
      <div class="form-group">
        {{ form.password2.errors }}
        <div>{{ form.password2|add_attributes:'form-control, placeholder:Confirm Password*' }}</div>
      </div>
      <div class="form-group">
        {{ form.first_name.errors }}
        <div>{{ form.first_name|add_attributes:'form-control, placeholder:First Name' }}</div>
      </div>
      <div class="form-group">
        {{ form.last_name.errors }}
        <div>{{ form.last_name|add_attributes:'form-control, placeholder:Last Name' }}</div>
      </div>

      <div class="form-group">
        {{ form.email.errors }}
        <div>{{ form.email|add_attributes:'form-control, placeholder:Email*' }}</div>
      </div>
      <div class="form-group">
        {{ form.telephone.errors }}
        <div>{{ form.telephone|add_attributes:'form-control, placeholder:Telephone' }}</div>
      </div>
      <div class="form-group">
        {{ form.company.errors }}
        <div>{{ form.company|add_attributes:'form-control, placeholder:Company*' }}</div>
      </div>
      <div class="form-group">
        {{ form.address.errors }}
        <div>{{ form.address|add_attributes:'form-control, placeholder:Street Address' }}</div>
      </div>
      <div class="form-group">
        {{ form.city.errors }}
        <div>{{ form.city|add_attributes:'form-control, placeholder:City' }}</div>
      </div>
      <div class="form-group">
        {{ form.postal.errors }}
        <div>{{ form.postal|add_attributes:'form-control, placeholder:Postal' }}</div>
      </div>
      <div class="form-group">
        {{ form.state.errors }}
        <div>{{ form.state|add_attributes:'form-control, placeholder:State' }}</div>
      </div>
      <div class="form-group">
        {{ form.country.errors }}
        <div>{{ form.country|add_attributes:'form-control, placeholder:Country' }}</div>
      </div>
      <div class="form-group text-right">
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-default" href="{% url 'home:index' %}">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}

  
{% endblock %}