{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
重置密码
{% else %}
Reset Password
{% endif %}
{% endblock %}



{% block content %}

{% load tool_tags %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    
    {% if request.session.lang == 'cn' %}
    
    <div>
      <h2 class="text-center">重置密码</h2>
      {% if form %}
      <h4>请输入您的新密码</h4>
      <form method="post" action='.'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.password.errors }}
          <div>{{ form.password|add_attributes:'form-control, placeholder:新密码' }}</div>
        </div>
        <div class="form-group">
          {{ form.password2.errors }}
          <div>{{ form.password2|add_attributes:'form-control, placeholder:确认新的密码' }}</div>
        </div>
        <div class='form-group text-right'>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
      {% else %}
      <p>对不起这个链接已经失效</p>
      {% endif %}
      <p><a href="{% url 'home:index' %}">返回首页</a></p>
    </div>
    {% else %}
    <div>
      <h2 class="text-center">Reset Password</h2>
      {% if form %}
      <h4>Please enter your new password</h4>
      <form method="post" action='.'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.password.errors }}
          <div>{{ form.password|add_attributes:'form-control, placeholder:New Password' }}</div>
        </div>
        <div class="form-group">
          {{ form.password2.errors }}
          <div>{{ form.password2|add_attributes:'form-control, placeholder:Confirm New Password' }}</div>
        </div>
        <div class='form-group text-right'>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      {% else %}
      <p>Sorry the link has already expired</p>
      {% endif %}
      <p><a href="{% url 'home:index' %}">Return to Home Page</a></p>
    </div>

    {% endif%}
    
  </div>
</div>

  
{% endblock %}