{% extends 'account/account.html' %}

{% block title %}
{% if request.session.lang == 'cn' %}
重置密码成功
{% else %}
Reset Password Successfully
{% endif %}
{% endblock %}



{% block content %}


<div class="container">
  <div class="col-sm-6 col-sm-offset-3 dashboard">
    
    {% if request.session.lang == 'cn' %}
    <div>
      <h2 class="text-center">重置密码成功</h2>
      
      <p>如果您填的信息正确，我们已经向您注册的邮箱发了重置密码的连接，请在24小时内重置密码</p>        
      <p><a href="{% url 'home:index' %}">返回首页</a></p>
    </div>
    {% else %}
    <div>
      <h2 class="text-center">Reset Password Successfully</h2>
      <p>We have sent the reset link to your email if there is a match in our system. Please click the link in your email to reset your password within 24 hours</p>
      <p><a href="{% url 'home:index' %}">Return to Home Page</a></p>
    </div>

    {% endif%}
    
  </div>
</div>

  
{% endblock %}